$color-primary: #5f5f5f;
$color-primary-font: #fff;
* {
    margin-top: 0;
}

.my-article {
    width: 30rem;
    background-color: $color-primary;
    color: $color-primary-font;
    padding: 1rem;
    margin-bottom: 1em;
}